<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>星生活</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.magicsoft.appyssh</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ysshxsh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41DB1FFE</string>
				<string>tencent801567175</string>
				<string>wb2410383579</string>
				<string>wxbff455048a79dd5f</string>
				<string>alipayappyssh111</string>
				<string>wx14b06ec2e4b5d070</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>yin+</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx28cdbbacd1cec278</string>
				<string>alipayappwyy117</string>
				<string>wx6b854fb487695fa8</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>tencentweiboSdkv2</string>
		<string>TencentWeibo</string>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
		<string>mqqwpa</string>
		<string>alipay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>请您允许访问相机，相机将用于上传图片时拍照，以及扫描二维码</string>
	<key>NSContactsUsageDescription</key>
	<string>星生活需要访问您的通讯录</string>
	<key>NSFaceIDUsageDescription</key>
	<string>星生活需要您允许使用面容ID来使用免密登录功能</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>星生活需要获取您的位置以便于向您推荐附近商家</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>星生活需要获取您的位置以便于向您推荐附近商家</string>
	<key>NSLocationUsageDescription</key>
	<string>星生活需要获取您的位置以便于向您推荐附近商家</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>星生活需要获取您的位置以便于向您推荐附近商家</string>
	<key>NSMotionUsageDescription</key>
	<string>星生活需要访问健康数据，获取运动步数来兑换App内积分 </string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>星生活需要访问您的相册来选择提交的图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>星生活需要访问您的相册来选择提交的图片</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
